body {
	background-color: rgb(20,20,20); /* Own */
	color: rgb(240,240,240); /* Own */
}

.Sidebar {
	background-color: rgb(40,40,40)!important; /* Own */
	color: rgb(240,240,240)!important; /* Own */
/* 	background: rgb(40,40,40)!important; */
}
.ItemChildLink {
	color: rgb(240,240,240)!important; /* Own */
}
span {
	color: rgb(240,240,240)!important; /* Own */
}
.header-inner {
	background-color: rgb(40,40,40)!important; /* Own */
}

.pre-wrapper {
	background-color: rgb(40,40,40)!important; /* Own */
} 